.main-login{
	width:400px;
	margin: 0 auto;
}

.visa{
	background: url("/img/visa.png") 100% -2px no-repeat white;
	border: 1px solid rgba(151, 151, 151, 0.4);
}

.mastercard {
	background: url("/img/mc.png") 100% -2px no-repeat white;
	border: 1px solid rgba(151, 151, 151, 0.4); 
}

.amex {
	background: url("/img/amex.png") 100% -2px no-repeat white;
	border: 1px solid rgba(151, 151, 151, 0.4); 
}

.dinners {
	background: url("/img/dinners.png") 100% -2px no-repeat white;
	border: 1px solid rgba(151, 151, 151, 0.4); 
}